<app-header></app-header>
<h2>Aprender Colores</h2>
<section class="menu">
  <a>
    <img src="assets/paleta-de-color.png" alt="Gato con paletas de color">
    <p>Aprender colores</p>
  </a>
  <a >
    <img src="assets/marcadores.png" alt="Marcador azul, amarillo y rojo">
    <p>Practicar colores</p>
  </a>
  <a >
    <img src="assets/mono_colores.png" alt="Mono con pintando">
    <p>Jugar</p>
  </a>
</section>
<h2>Aprender Frutas</h2>
<section class="menu">
  <a>
    <img src="assets/pera.png" alt="Peras leyendo">
    <p>Aprender frutas</p>
  </a>
  <a >
    <img src="assets/pina.png" alt="Piña sonriente">
    <p>Practicar frutas</p>
  </a>
  <a >
    <img src="assets/mono_frutas.png" alt="Mono con frutas">
    <p>Jugar</p>
  </a>
</section>
<h2>Aprender Inglés</h2>
<section class="menu">
  <a>
    <img src="assets/ingles.png" alt="Manzana encima de libros">
    <p>Aprender inglés</p>
  </a>
  <a >
    <img src="assets/koala_leyendo.png" alt="Koala leyendo">
    <p>Practicar inglés</p>
  </a>
  <a >
    <img src="assets/mono_jugando.png" alt="Mono armando un rompecabezas">
    <p>Jugar</p>
  </a>
</section>
<app-footer></app-footer>
