<app-header></app-header>

<section class="bienvenido">
  <h1>¡Bienvenido
    <span>S</span>
    <span>a</span>
    <span>n</span>
    <span>t</span>
    <span>i</span>
    <span>a</span>
    <span>g</span>
    <span>u</span>
    <span>i</span>
    <span>t</span>
    <span>o</span>
    !</h1>
  <img src="assets/niño.png" alt="">
</section>

<h2 class="subtitulo">¿Qué quieres aprender hoy?</h2>

<section class="menu">
  <a routerLink="/colores" >
    <img src="assets/lapices_de_color.png" alt="Lapices de colores">
    <p>Colores</p>
  </a>
  <a routerLink="/frutas">
    <img src="assets/Frutas.png" alt="Gato sosteniendo frutas">
    <p>Frutas</p>
  </a>
  <a routerLink="/ingles">
    <img src="assets/bloques.png" alt="Bloques de ABC">
    <p>Ingles</p>
  </a>
</section>

<app-footer></app-footer>
